:root
{
    --background:#262B40;
    --backgroundClear:#262B4060;
    --color1dark:#67A171;
    --color1light:#7db88e;
    --color2dark:#50ACAD;
    --color2light:#79C7C5;
    --text:#b1b1b1;
    --backgroundHover: #454c66;
    --color9:#2e334b;
    --border:#6b7292;

}

@font-face {
  font-family: myHeader;
  src: url(fonts/Kids\ Magazine.ttf);
}

@keyframes myAnimation {
  from {background-position: 0px 0px;}
  to {background-position: 240px 240px;}
}

@keyframes hoverLink {
    0% {margin-left: 0px;}
    50% {margin-left: 5px;}
    100% {margin-left: 0px;}
}

@keyframes navClose{
    0%{position: relative;}
}

*{
    box-sizing: border-box;
}

html{
    background-image: url("images/BackImage.png");
    animation: myAnimation 16s linear infinite;
    font-family:"MS PGothic", "MS Gothic", "Gothic A1", "IPAGothic", "terminus", Sans-serif;
    color:var(--text);
    cursor: url(images/cursor-default.png), auto;
}

body{
    height: 100vh;
    margin:0px;
    align-content: center;
}

.center{
    max-width: 1400px;
    margin: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 900px;
    filter: drop-shadow(0 0 15px #000000e0);
    transition: 0.5s;
}

.myflex{
    display: flex;
    flex:auto;
    height: 200px;
}


/*Navigation*/

.nav{
    border: solid 1px var(--border);
    background-color: var(--color9);
    width: 160px;
    overflow: auto;
    flex: none;
    height: 100%;
    transition: 0.5s;
}

.nav a{
    display:block;
    color: var(--text);
    text-decoration: none;
    border: none;
    border: 1px solid transparent;
    transition: 0.2s;
    background-color: var(--color9);
    font-size: 12pt;
    padding: 5px;
    margin: 5px;
    user-select: none;
}

.nav a div{
    display: inline-block;
    align-content: center;
    height:100%;
    padding: 0;
    vertical-align: super;
}
.nav a img{
    width:16px;
    margin-right: 8px;
    vertical-align:top;
    transition: 0.2s;
}

.nav a div p{
    margin: 0;
    margin-top:-5 ;
}

.nav a:hover{
    border: solid 1px var(--border);
    transition: 0.25s;
    background-color: var(--backgroundHover);
    filter: drop-shadow(0 0 3px var(--border));
    cursor: url("images/cursor-default.png"), pointer;
}
.nav a:hover img{
    width: 22px;
    filter: drop-shadow(1px 3px 1px #0c0c0cc0); 
}
.nav a:hover div{
    animation: hoverLink 1.2s infinite;
    text-shadow: 1px 3px 1.5px #0c0c0cc0;
}
.nav a:active{
    filter:none;
    border: 1px solid transparent;
}

.welcome
{
    background-image: linear-gradient(to right, var(--color1dark),var(--color2dark));
    height: 32px;
    color:white;
    border: solid 1px var(--cborder);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    flex: none;
    align-content: center;
}

.welcome h1{
    font-size: 16pt;
    margin: 0;
    font-weight:lighter;
    user-select: none;
    text-shadow: 1px 3px 1.5px #272727a0;
}

.foot{
    height: 10px;
    background-image: linear-gradient(to right, var(--color1dark),var(--color2dark));
    border: solid 1px var(--border);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: none;
}

.content{
    width: 100%;
    background-color: var(--backgroundClear);
    border: solid 1px var(--border);
    border-left: none;
    overflow: auto;
    padding: 40px 80px;
    max-height: 100%;
    scrollbar-color: var(--color2dark) var(--color9);
    scrollbar-width: thin;
}

::-webkit-scrollbar:hover{
    width: 100px;
}
@media only screen and (max-width: 600px) {
    .center{
        padding: 10px;
        height: 100%;
    }

    .nav{
        /*height: calc(100vh - 62px);*/
        width: 0;
        border-right: none;
    }
}