:root {
    --background: #22273b;
    --backgroundClear: #22273b50;
    --color1dark: #67a171;
    --color1light: #7db88e;
    --color2dark: #5bb1ae;
    --color2light: #79c7c5;
    --text: #b1b1b1;
    --subText: #7e7e7e;
    --backgroundHover: #454c66;
    --color9: #2e334b;
    --border: #6b7292;
    --shadow: #0c0c0cc0;
}

.dark {
    --background: #22273b;
    --backgroundClear: #22273b50;
    --text: #b1b1b1;
    --backgroundHover: #454c66;
    --color9: #2e334b;
    --border: #6b7292;
    --shadow: #080808d0;
}

.light {
    --background: #ccd0db;
    --backgroundClear: #c8cad487;
    --text: #353535;
    --backgroundHover: #ebecf2;
    --color9: #dcdee4;
    --border: #9196aa;
    --shadow: #60606081;
}

.theme1 {
    --color1dark: #67a171;
    --color1light: #7db88e;
    --color2dark: #5bb1ae;
    --color2light: #79c7c5;
}

.theme2 {
    --color1dark: #b46262;
    --color1light: #bc7878;
    --color2dark: #bf8f54;
    --color2light: #c99e68;
}

.theme3 {
    --color1dark: #9552a7;
    --color1light: #ab71bb;
    --color2dark: #c1588e;
    --color2light: #d77aaa;
}

.theme4 {
    --color1dark: #9dae48;
    --color1light: #b1be6e;
    --color2dark: #67b177;
    --color2light: #81bf8e;
}

.theme5 {
    --color1dark: #5aa3aa;
    --color1light: #7fc0c6;
    --color2dark: #5b70b1;
    --color2light: #778bc5;
}

.theme6 {
    --color1dark: #b2864a;
    --color1light: #c69d63;
    --color2dark: #5d5ab5;
    --color2light: #7f7ccb;
}

.theme7 {
    --color1dark: #b24aa1;
    --color1light: #c667b6;
    --color2dark: #5371b9;
    --color2light: #7892cf;
}

.theme8 {
    --color1dark: #4ab269;
    --color1light: #6cc887;
    --color2dark: #7253b9;
    --color2light: #8f75c9;
}

.theme9 {
    --color1dark: #9b9b9b;
    --color1light: #ababab;
    --color2dark: #5f5f5f;
    --color2light: #6b6b6b;
}
