<meta name="viewport" content="width=device-width, user-scalable=no" />

<script>
    let pageTitle = "Default Title";
</script>

<head>
    <title id="pageTitle">{pageTitle}</title>
</head>

<body id="body">
    <audio id="backgroundMusic" src="/music/silence.mp3" autoplay loop></audio>
    <div class="center">
        <div class="welcome">
            <div class="headerTime"></div>
            <h1 id="headerTitle">{headerTitle}</h1>
            <div class="headerButtons">
                <button onclick="handleMute()">
                    <img id="muteIcon" src="/icons/volume.svg" />
                </button>
                <button onclick="handleThemeOpen()">
                    <img src="/icons/fill.svg" />
                </button>
                <button onclick="handleFullscreen()">
                    <img id="fullscreenIcon" src="/icons/expand.svg" />
                </button>
                <div class="themePopup">
                    <div class="themeArrowOutline">
                        <div class="themeArrow"></div>
                    </div>
                    <div class="themeTop"></div>
                    <div class="themeBox">
                        <div
                            onclick="setTheme('theme1')"
                            class="themePuck theme1"></div>
                        <div
                            onclick="setTheme('theme2')"
                            class="themePuck theme2"></div>
                        <div
                            onclick="setTheme('theme3')"
                            class="themePuck theme3"></div>
                        <div
                            onclick="setTheme('theme4')"
                            class="themePuck theme4"></div>
                        <div
                            onclick="setTheme('theme5')"
                            class="themePuck theme5"></div>
                        <div
                            onclick="setTheme('theme6')"
                            class="themePuck theme6"></div>
                        <div class="themeSlider" onclick="toggleTheme()">
                            <div class="themeSliderPuck"></div>
                            <svg class="moon"><use href="/icons/moon.svg"/></svg>
                            <svg class="sun"><use href="/icons/sun.svg"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="myflex" onclick="hideThemePopup()">
            <div class="navContainer">
                <button class="navToggleButton" onclick="navToggle()">
                    <svg>
                        <use href="/icons/menu-burger.svg"/>
                    </svg>
                </button>
                <div class="nav">
                    <a href="/"
                        ><svg class="alt">
                            <use href="/icons/home.svg#home-icon" />
                        </svg>
                        <div>
                            <p>Home</p>
                        </div>
                    </a>
                    <a href="/about/"
                        ><svg><use href="/icons/about.svg#about-icon" /></svg>
                        <div>About</div>
                    </a>
                    <a href="/findMe/"
                        ><svg class="alt">
                            <use href="/icons/loupe.svg#loupe-icon" />
                        </svg>
                        <div>Find Me</div>
                    </a>
                    <a href="/work/"
                        ><svg ><use href="/icons/id-card.svg#id-card-icon" /></svg>

                        <div>Work History</div>
                    </a>
                </div>
            </div>
            <div class="main" onclick="clickOffNav()">
                <div class="banner">
                    <div class="bannerMessage1">
                        <b>UPDATE!</b> This is a test message!
                    </div>
                    <div class="bannerMessage2">
                        <b>UPDATE!</b> This is a test message!
                    </div>
                    <button onclick="closeBanner()">
                        <svg class="alt">
                            <use href="/icons/cross-small.svg"/>
                        </svg>
                    </button>
                </div>
                <div class="content"><div class="contentWidthForce"></div></div>
            </div>
        </div>
        <div class="foot"></div>
    </div>
</body>
