:root {
    --background: #22273b;
    --backgroundClear: #22273b50;
    --color1dark: #67a171;
    --color1light: #7db88e;
    --color2dark: #5bb1ae;
    --color2light: #79c7c5;
    --text: #b1b1b1;
    --backgroundHover: #454c66;
    --color9: #2e334b;
    --border: #6b7292;
}

@keyframes myAnimation {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 240px 240px;
    }
}

@keyframes hoverLink {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: 5px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes navClose {
    from {
        position: relative;
    }
    to {
        position: absolute;
    }
}

@keyframes bannerSlide {
    from {
        margin-left: -400px;
    }
    to {
        margin-left: 100%;
    }
}

* {
    box-sizing: border-box;
}

html {
    background-image: url("/images/BackImage.png");
    animation: myAnimation 16s linear infinite;
    font-family:
        "MS PGothic", "MS Gothic", "Gothic A1", "IPAGothic", "terminus",
        Sans-serif;
    color: var(--text);
    cursor: url(/images/cursor-default.png), auto;
}

body {
    height: 100vh;
    margin: 0px;
    align-content: center;
}

.center {
    max-width: 1280px;
    margin: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 860px;
    filter: drop-shadow(0 0 15px #000000e0);
    transition: 0.5s;
}

.myflex {
    display: flex;
    flex: auto;
    height: 200px;
}

/*Navigation*/

.nav {
    border: solid 1px var(--border);
    background-color: var(--color9);
    width: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    flex: none;
    height: 100%;
    transition:
        width 0.5s,
        height 0s;
}

.nav a {
    display: block;
    color: var(--text);
    text-decoration: none;
    border: none;
    border: 1px solid transparent;
    transition: 0.2s;
    background-color: var(--color9);
    font-size: 12pt;
    padding: 5px;
    margin: 5px;
    user-select: none;
    width: 148px;
}

.nav a div {
    display: inline-block;
    align-content: center;
    height: 100%;
    padding: 0;
    vertical-align: super;
}

.nav a img {
    width: 16px;
    margin-right: 8px;
    vertical-align: top;
    transition: 0.2s;
}

.nav a div p {
    margin: 0;
    margin-top: -5;
}

.nav a:hover {
    border: solid 1px var(--border);
    transition: 0.25s;
    background-color: var(--backgroundHover);
    filter: drop-shadow(0 0 3px var(--border));
    cursor: url("/images/cursor-default.png"), pointer;
}

.nav a:hover img {
    width: 22px;
    filter: drop-shadow(1px 3px 1px #0c0c0cc0);
}

.nav a:hover div {
    animation: hoverLink 1.2s infinite;
    text-shadow: 1px 3px 1.5px #0c0c0cc0;
}

.nav a:active {
    filter: none;
    border: 1px solid transparent;
}

.navContainer {
    position: relative;
    z-index: 2;
}

.navToggleButton {
    position: absolute;
    left: 100%;
    width: 40px;
    height: 40px;
    top: 1px;
    z-index: 2;
    border: 1px solid var(--border);
    border-top: none;
    border-left: none;
    background-color: var(--background);
    border-bottom-right-radius: 10px;
    display: none;
    transition: 0.2s;
}

.navToggleButton img {
    width: 16px;
    margin: 0;
    transition: 0.2s;
}

.navToggleButton:hover {
    background-color: var(--backgroundHover);
    filter: drop-shadow(0 0 3px var(--border));
}

.navToggleButton:hover img {
    filter: drop-shadow(1px 3px 1px #0c0c0cc0);
}

.welcome {
    color: white;
    background-image: linear-gradient(
        to right,
        var(--color1dark),
        var(--color2dark)
    );
    height: 32px;
    border: solid 1px var(--border);
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    flex: none;
    align-content: center;
    z-index: 3;
    display: flex;
    text-shadow: 1px 3px 1.5px #0c0c0cc0;
}

.welcome h1 {
    font-size: 16pt;
    margin: 0;
    margin-top: 3px;
    font-weight: lighter;
    user-select: none;
    width: 100%;
    vertical-align: top;
}

.headerTime{ 
    margin:5px 5px;
    width: 100px;
    flex: none;
}

.headerButtons{
    margin:0px 5px; 
    width: 110px;
    flex: none;
}

.headerButtons button{
    display: inline-block;
    margin: 0px;
    border: none;
    background:none;
    height: 100%;
}

.headerButtons img{
    width: 14px;
    filter: drop-shadow(1px 3px 1px #0c0c0cc0);
    vertical-align: top;
    transition: 0.25s;
    margin:0px 3px;
}

.headerButtons button:hover img{
    filter: drop-shadow(1px 3px 1px #0c0c0cc0) brightness(75%);
}

.foot {
    height: 10px;
    background-image: linear-gradient(
        to right,
        var(--color1dark),
        var(--color2dark)
    );
    border: solid 1px var(--border);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex: none;
    z-index: 3;
}

.main {
    width: 100%;
    border: solid 1px var(--border);
    border-left: none;
    max-height: 100%;
    z-index: 1;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: var(--backgroundClear);
    padding: 20px;
    height: 100%;
    text-align: center;
    overflow: auto;
    scrollbar-color: var(--color2dark) var(--color9);
    scrollbar-width: thin;
}

.banner {
    background-color: var(--background);
    height: 24px;
    margin: 0;
    border-bottom: 1px solid var(--border);
    overflow: hidden;
    flex: none;
    position: relative;
}

.bannerMessage1 {
    min-width: fit-content;
    display: inline-block;
    overflow: hidden;
    animation: bannerSlide 10s linear infinite;
    text-wrap: nowrap;
    z-index: 1;
    position: absolute;
    margin-left: -400px;
    margin-top: 3px;
}
.bannerMessage1 b {
    color: var(--color1light);
}

.bannerMessage2 {
    min-width: fit-content;
    display: inline-block;
    overflow: hidden;
    animation: bannerSlide 10s linear infinite;
    text-wrap: nowrap;
    z-index: 2;
    position: absolute;
    animation-delay: 5s;
    margin-left: -400px;
    margin-top: 3px;
}
.bannerMessage2 b {
    color: var(--color2light);
}

.content h1 {
    text-decoration: underline var(--color2dark);
    font-weight: lighter;
}

::-webkit-scrollbar:hover {
    width: 100px;
}

.bigLink:hover .bigLinkContent {
    text-shadow: 1px 3px 1.5px #0c0c0cc0;
}

@media only screen and (max-width: 768px) {
    .center {
        padding: 5px;
        height: 100%;
    }

    .nav {
        width: 0px;
        border-right: none;
        z-index: 2;
        height: calc(100vh - 52px);
        transition-delay: 0s, 0.5s;
        filter: drop-shadow(0 0 10px #0c0c0cc0);
    }

    .navContainer {
        animation: navClose 0s linear forwards;
        animation-delay: 0.5s;
    }

    .navToggleButton {
        display: inline;
    }

    .content {
        padding: 20px;
    }
}

.center.fullscreen {
    max-width: 100%;
    height: 100%;
    padding: 0;
}

.fullscreen .welcome{
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.fullscreen .foot{
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.fullscreen .nav{
    border-left: none;
    height: calc(100vh - 42px);
}

.fullscreen .main{
    border-right: none;
}
